
{% extends "layout.html" %}
{% block navbar %}

{% include "includes/navbar.html" %}
	
{% endblock navbar %}

{% block body %}
<div class="bootstrap snippets" style="margin-top:100px">
	<div class="row">
		<div class="col-md-6 col-md-offset-2 col-sm-12 myForm">
			<input type="hidden" id="user_id" value="{{ request.user.id }}">
			{% include "includes/error.html" %}
			<div class="">
				<h3>Post Paylaş</h3>
				<br>
				<div class="form-group row">
					<div class="form-group col-md-5 mr-auto">
						<label for="category">Kategoriyalar</label>
						<select class="form-control" id="category">
							<option selected>Kategiya seçin</option>
							{% if Categories %}
							{% for category in Categories %}
								<option value="{{category.id}}">{{category.categorie_name}}</option>
							{% endfor %}	
							{% endif %}
						</select>
					</div>
					<div class="form-group col-md-5 ml-auto">
						<label for="subCategory">Kategoriyalar</label>
						<select class=" form-control" id="subCategory" multiple>
							<option selected>İlk öncə kategorianı seçin</option>
						</select>
					</div>
					
					
				</div>
				<br>
				{% csrf_token %}
				<label for="title">Titul</label>
				{{postForm.title}}
				<br>
				<label for="content">İçəriyi</label>
				{{postForm.content}}
				<br>
				<button type="button" class="btn btn-info pull-right" style="float:right" id="share">Paylaş</button>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-2 col-sm-12 ml-auto mr-auto categories">
			<h3>Kategoriyalar</h3>
			{% if Categories %}
			{% for cat in Categories %}
				<h5>{{ cat.categorie_name}}</h5>
				<ul>
				{% if cat.category.all %}
				    {% for subcat in cat.category.all %}
				    	<li>{{subcat.name}}</li>
				    {% endfor %}			
				{% endif %}
				</ul>
				<br>
			{% endfor %}	
			{% endif %}
		</div>
	</div>
	<br><br><br><br>
	<div id="postList">
	{% if allPosts %}
		{% for post in allPosts %}
			<div class="col-md-6 col-md-offset-2 col-sm-12 postsStyle">
				<div class="comment-wrapper">
					<div class="panel panel-info">
						<div class="panel-heading">
							
						{% if user.id == post.owner_id.id %}
						<a href="{% url 'profil' %}">@You</a>
						{% else %} 
						<a href="{% url 'info' post.owner_id.id %}">@{{post.owner_id.username}}</a> 
						{% endif %}
							<br> 
							<p class="ml-2">{{post.title}}
								<span class="text-muted pull-right mr-3" style="float:right">
									<small class="text-muted agoDate" >
										<input type="hidden" value="{{post.created_date.isoformat}}">
									</small>
								</span>
							<p>
							<p class="ml-2">Kategoriya: {{post.category.categorie_name}}</p>
							<p class="ml-3 postSubcategory">Subkategoriyaları: 
								<input type="hidden" value="{{post.subcategory}}">
							</p>	
						</div>
						<div class="panel-body">
							<br>
							<p class="ml-3">
								{{post.content}}
							</p>
							<br>
							<div class="clearfix"></div>
							<hr>
							<ul class="media-list">	
							{% if post.comments.all %}
							
								{% for comment in post.comments.all %}
									<li class="media">
										<a href="#" class="pull-left" style="float:left">
											<img src="{{ MEDIA_URL }}user_1.jpg" alt="" class="img-circle">
										</a>
										<div class="media-body">
											<span class="text-muted pull-right mr-3" style="float:right">
												<small class="text-muted agoDate" >
													<input type="hidden" value="{{comment.comment_date.isoformat}}">
												</small>
											</span>
											<strong class="text-success ml-2">
											{% if comment.author_id.id == user.id %}
											    <a href="{% url 'profil' %}">@You</a>
											{% else %}
											    <a href="{% url 'info' comment.author_id.id %}">@{{comment.author_id.username}}</a>
											{% endif %}	
											</strong>
											<p class="ml-3">
												{{comment.comment_content}}
											</p>
										</div>
									</li>
								{% endfor %}
							{% endif %}	
							</ul>
							<br>
						</div>
						<br>
						<div class="panel-footer">
							<div>
								{{commentForm.comment_content}}
								<br>
								<button type="button" class="btn btn-info pull-right btn-sm addbtn" style="float:right" value="{{post.id}}">Əlavə et</button>
							</div>
							<br><br>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
	</div>
</div>
<script type="text/javascript">

	function djangoData(){
		return {
			commentForm : `{{commentForm.comment_content}}`,
			profilLink : `{% url 'profil' %}`,
		};
	}
	
	
</script>
{% endblock body %}
{% block myscript %}
	<script src="static/js/function.js"></script>
	<script src="static/js/posts.js"></script>
	<script src="static/js/home.js"></script>
	<script type="text/javascript">
		const agoDates = document.querySelectorAll('.agoDate');
		if (agoDates != null){
			agoDates.forEach( (a) => {
				a.innerHTML += timeAgo(new Date(a.querySelector("input").value));
			});
		}
		const catJsons = document.querySelectorAll('.postSubcategory');
		if (catJsons != null){
			catJsons.forEach((z)=>{
				z.innerHTML += JSON.parse(z.querySelector('input').value).toString();
			});
		}
		updateAll();
	</script>
	<script src="static/js/update.js"></script>
{% endblock myscript %}
